<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>BLOG</title>
<link rel="stylesheet" media="(min-width: 1000px)" href="/stylesheets/style.css">
<link rel="stylesheet" media="(max-width: 1000px)" href="/stylesheets/style_ipad.css">
</head>

<body>

<header>
<h1><%= title %></h1>
</header>


<nav>
<span><a title="HOME" href="/">HOME</a></span>

<% if(user) { %>
<span><a title="UPLOAD" href="/upload">UPLOAD</a></span>
<span><a title="POST" href="/post">POST</a></span>
<span><a title="HOME" href="/logout">LOGOUT</a></span>
<% } else { %>
<span><a title="HOME" href="/login">LOGIN</a></span>
<span><a title="HOME" href="/reg">REGISTER</a></span>
<% }%>

</nav>

<article>
<% if(success) { %>
	<div><%= success %></div>
<% }%>
<% if(error) { %>
	<div><%= error %></div>
<% }%>



